@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}

.gradient {
  background:
    linear-gradient(90deg, #09e4e0 50%, transparent 0) repeat-x,
    linear-gradient(90deg, #09e4e0 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #09e4e0 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #09e4e0 50%, transparent 0) repeat-y;
  background-size:
    5px 1px,
    5px 1px,
    1px 5px,
    1px 5px;
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  cursor: pointer;
  animation: linearGradientMove 0.3s infinite linear;

  // &:hover {
  //   animation: linearGradientMove 0.3s infinite linear;
  // }
}

@keyframes linearGradientMove {
  100% {
    background-position:
      4px 0,
      -4px 100%,
      0 -4px,
      100% 4px;
  }
}

.striped {
  background-color: #38bdf81a;
  background-image: linear-gradient(
    135deg,
    #0ea5e980 10%,
    #0000 0,
    #0000 50%,
    #0ea5e980 0,
    #0ea5e980 60%,
    #0000 0,
    #0000
  );
  background-size: 7.07px 7.07px;
}

.mark-line {
  background: #eb9f07;
  position: absolute;
  z-index: 1000;

  &.dir-x {
    width: 100%;
    height: 1px;
  }
  &.dir-y {
    width: 1px;
    height: 100%;
  }
}

// override
.tzui-tabs-nav {
  margin: 0 !important;
}

.tzui-popover-inner-content {
  // padding: 4px 8px !important;
}
